---
interface Chapter {
  id: string;
  title: string;
  excerpt: string;
  featuredImage?: string;
  date: string;
  slug: string;
}

interface Props {
  chapters?: Chapter[];
}

const { chapters } = Astro.props;
---

<section
  id="chapters"
  class="py-20 px-4 bg-[var(--secondary)]/30 animate-fade-in"
>
  <div class="max-w-6xl mx-auto">
    <h2 class="text-3xl md:text-4xl font-bold text-center mb-12">
      Explora los capítulos
    </h2>
    <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-8">
      {
        chapters && chapters.length > 0 ? (
          chapters.map((chapter) => {
            const { title, excerpt, featuredImage, date, slug } = chapter;

            return (
              <div class="bg-[var(--card)] border border-[var(--border)] p-6 rounded-lg shadow-sm hover:shadow-md transition">
                {featuredImage && (
                  <img
                    src={featuredImage}
                    alt={title}
                    class="w-full h-48 object-cover rounded mb-4"
                    loading="lazy"
                  />
                )}

                <h3 class="font-semibold text-lg mb-2 text-center md:text-left">
                  {title}
                </h3>
                <p
                  class="text-[var(--muted-foreground)] mb-2 text-center md:text-left"
                  set:html={excerpt}
                />

                {date && (
                  <p class="text-xs text-[var(--muted-foreground)] mb-4 text-right mt-6">
                    Publicado:{" "}
                    {new Date(date).toLocaleDateString("es-ES", {
                      year: "numeric",
                      month: "2-digit",
                      day: "2-digit",
                    })}
                  </p>
                )}
                <a
                  href={`/blog/${slug}`}
                  class="block text-center border border-[var(--border)] rounded-lg py-2 hover:bg-[var(--primary)] hover:text-[var(--primary-foreground)] transition"
                >
                  Leer
                </a>
              </div>
            );
          })
        ) : (
          <p class="text-center col-span-3">No hay capítulos disponibles.</p>
        )
      }
    </div>
  </div>
</section>
