---
const navLinks = [
  { href: "/#home", label: "Inicio" },
  { href: "/#chapters", label: "Capítulos" },
  // { href: "#curiosities", label: "Curiosidades" },
  { href: "/#author", label: "Sobre el autor" },
  // { href: "#contact", label: "Contacto" },
];

const { name, icon } = Astro.props;
---

<nav
  class="sticky top-0 z-50 bg-[var(--background)]/95 backdrop-blur-md border-b border-[var(--border)] shadow-sm"
>
  <div class="container mx-auto px-4 py-4 flex items-center justify-between">
    <!-- Logo -->
    <div class="flex items-center space-x-2 z-60">
      <a href="/">
        <span class="text-2xl font-bold text-[var(--primary)]">{icon}</span>
        <span class="text-xl font-semibold tracking-wide">{name}</span>
      </a>
    </div>

    <!-- Menú escritorio -->
    <ul class="hidden md:flex space-x-4 text-[var(--primary)] font-medium">
      {
        navLinks.map((link) => (
          <li>
            <a
              href={link.href}
              class="px-3 py-2 rounded-md hover:bg-[var(--accent)]/20 hover:text-[var(--accent)] transition"
            >
              {link.label}
            </a>
          </li>
        ))
      }
    </ul>

    <!-- Botón hamburguesa móvil -->
    <button
      id="menu-btn"
      class="md:hidden text-3xl focus:outline-none text-[var(--primary)] bg-transparent z-60"
    >
      ☰
    </button>
  </div>

  <!-- Overlay -->
  <div
    id="overlay"
    class="fixed w-full min-h-screen inset-0 mt-[64px] bg-black/50 hidden z-20 transition-opacity duration-300"
  >
  </div>

  <!-- Menú móvil -->
  <div
    id="mobile-menu"
    class="fixed top-0 right-0 h-full w-full bg-[var(--background)] text-[var(--primary)] font-medium transform translate-x-full hidden transition-transform duration-400 z-50"
  >
    <ul
      class="flex flex-col space-y-4 p-6 mt-[64px] z-100 bg-[var(--background)] border-t border-[var(--border)]"
    >
      {
        navLinks.map((link) => (
          <li>
            <a
              href={link.href}
              class="block px-3 py-2 rounded-md hover:bg-[var(--accent)]/20 hover:text-[var(--accent)] transition"
            >
              {link.label}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</nav>

<script is:inline>
  document.addEventListener("DOMContentLoaded", () => {
    const btn = document.getElementById("menu-btn");
    const menu = document.getElementById("mobile-menu");
    const overlay = document.getElementById("overlay");

    const toggleMenu = () => {
      menu.classList.toggle("hidden");
      menu.classList.toggle("translate-x-full");
      overlay.classList.toggle("hidden");
      setTimeout(() => {
        overlay.classList.toggle("opacity-0");
        overlay.classList.toggle("opacity-100");
      }, 10);
    };

    btn.addEventListener("click", toggleMenu);
    overlay.addEventListener("click", toggleMenu);
  });
</script>
