---
import Stars from "./Stars.astro";

interface Review {
  name: string;
  role: string;
  text: string;
  rating: number;
}

interface Props {
  title?: string;
  reviews?: Review[];
}

const { title, reviews } = Astro.props;
---

<section class="py-20 px-4 bg-[var(--secondary)]/20">
  <div class="max-w-6xl mx-auto">
    <h2 class="text-3xl md:text-4xl font-bold text-center mb-12">{title}</h2>
    <div class="grid md:grid-cols-3 gap-8">
      {
        reviews && reviews.length > 0 ? (
          reviews.map((review) => (
            <div
              class="p-6 bg-[var(--card)] border border-[var(--border)] rounded-lg text-center shadow-sm hover:shadow-lg transition select-none cursor-auto"
              title={`${review.rating} de 5 estrellas`}
            >
              <div class="flex justify-center mb-4">
                <Stars
                  rating={review.rating}
                  className="w-6 h-6 text-yellow-500"
                />
              </div>
              <p class="italic text-[var(--muted-foreground)] mb-4">
                “{review.text}”
              </p>
              <p class="font-semibold">{review.name}</p>
              <p class="text-sm text-[var(--muted-foreground)]">
                {review.role}
              </p>
            </div>
          ))
        ) : (
          <p class="text-center col-span-3 text-[var(--muted-foreground)]">
            No hay reseñas disponibles en este momento.
          </p>
        )
      }
    </div>
  </div>
</section>
