---
import "@fontsource-variable/inter";
import "../styles/global.css";
import SEO from "@components/layouts/SEO.astro";
import Navbar from "@components/layouts/Navbar.astro";
import Hero from "@components/layouts/Hero.astro";
import Chapters from "@components/layouts/Chapters.astro";
import Curiosities from "@components/layouts/Curiosities.astro";
import Reviews from "@components/layouts/Reviews.astro";
import Newsletter from "@components/layouts/Newsletter.astro";
import Author from "@components/layouts/Author.astro";
import Contact from "@components/layouts/Contact.astro";
import Footer from "@components/layouts/Footer.astro";

interface Props {
  title?: string;
  description?: string;
  url?: string;
  ogtitle?: string;
  ogdescription?: string;
  author?: string;
  keywords?: string;
}

const { title, description, ogtitle, ogdescription, url, author, keywords } =
  Astro.props;

const icon = "☠️";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>

    <!-- Favicon -->
    <link rel="icon" type="image/svg+xml" href="/icon-one-piece.svg" />

    <!-- SEO -->
    <SEO
      title={title || "Mi Propio One Piece"}
      description={description || ""}
      url={url || "https://www.onepiece.dejeloper.com"}
      author={author || "Jhonatan Guerrero"}
      keywords={keywords || "One Piece, Anime, Manga"}
      ogtitle={ogtitle}
      ogdescription={ogdescription}
    />
  </head>
  <body class="bg-[var(--background)] text-[var(--foreground)]">
    <!-- Navegación -->
    <Navbar icon={icon} name={title} />

    <main>
      <!-- Hero -->
      <Hero />

      <!-- Capítulos -->
      <Chapters />

      <!-- Curiosidades -->
      <Curiosities />

      <!-- Reseñas -->
      <Reviews />

      <!-- Newsletter -->
      <Newsletter />

      <!-- Sobre la autora -->
      <Author />

      <!-- Contacto -->
      <Contact />
    </main>

    <!-- Footer -->
    <Footer />
  </body>
</html>
